.header{
    padding: 10px 30px;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #E9EBEC;
    z-index: 100;
}


img{
    width:200px
}
.header ul{
    display: flex;
    align-items: center;
}
li{
    margin-right: 30px;
    list-style: none;
 
}
a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.icone{
    color: #f91944;
    font-size: 30px;

}
